*
 {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  color: #2d2f3b;
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out !important;
  }
  
  .code-card:hover,
  .code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
  }


body{
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}


*{
	margin: 0;
	padding: 0;
}
#main-box
 {
 	  background: url(./img/hellolap.jpg) center center fixed; 
      background-size:contain;
    font-family:monospace;
}


.bar
{
    width: 1100px;
	height: 40px;
	color: white;
    margin: 30px auto;
    
}

.bar ul 
{
	float: left;
	list-style: none;
    display: block;
    
}
.bar ul li 
{
	float: left;
	list-style: none;
	display: block;
    width: 210px;
    background-color: rgba(148, 148, 148,0.3);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin-right: 4px;
}
ul li a {
    display: block;
    cursor:context-menu;
}
ul li a:hover
{
    display: block;
    background-color: floralwhite;
    color: steelblue;
}
.bar ul li ul li
{
    margin-bottom: 0;
    display: none;
}
.bar ul li:hover ul li 
{
    display: block;
    
}
